
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+Bubbles&display=swap');


body{
    background-image: url("https://i.postimg.cc/dVQnbDmQ/dark-brown-wooden-textured-product-background.jpg");
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    background-attachment: fixed;  
    margin: 0;
    padding: 0;
    min-height: 100vh;
     

}
.turn-piece-icon{
    width: 50px;
    animation: pulse 2s infinite;
    box-shadow: 0 10px 50px rgb(236 226 226 / 59%);
    border-radius: 50px;
}

.board{
    display: flex;
    flex-wrap: wrap;
    width: 660px;
    justify-content: center;
    margin-bottom: 40px;
    box-shadow: 0 10px 20px rgb(255 255 255 / 30%);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.squares{
    background-color: #ffedcf;
    border: 1px solid black;
    width: 80px;
    height: 80px;
}

.playable{
    background-color: #874822 ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
h1{
    font-family: "Raleway", sans-serif;
    color: #ffe2a9;
    font-size: 40px;
}

h2 {
    color: #ffefcf;
    background-color: rgba(143, 115, 115, 0.32);
    padding: 20px 90px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: -10px;
}

img {
    width: 70px;
}

.movedOption{
    background-color: green;
}

.selectedPiece{
  animation: pulse 2s infinite;
}

.disableUnselectedPiece, .disableOpponentsPiece, .disableAllPieces {
    pointer-events: none !important;
}
.capturedPiece {
    animation: remove 0.5s ease-out forwards;
}

#reset-btn, #rules-btn{
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    background-color: #f0dfbc;
}

#reset-btn:hover ,  #rules-btn:hover{
   transform: scale(1.2);
}
.winner, .tie {
  animation: pulse 2s infinite;
}


.rules-container {
    margin: 20px auto;
    padding: 20px;
    margin: 20px auto;
    padding: 20px;
    position: absolute;
    z-index: 9999;
    background-color: rgb(29 28 28 / 84%);
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.rules {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.h2-rules {
    text-align: center;
    color: #3e2723;
    margin-bottom: 5px;
    font-size: 28px;
    border-bottom: 3px solid #8b4513;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(255 226 169);
}

.rules ul {
    list-style-type: none;
    padding-left: 0;
}

.rules ul ul {
    list-style-type: disc;
    padding-left: 30px;
}

.rules li {
    margin-bottom: 5px;
    line-height: 1.2;
    color: #2c3e50;
}

.rules strong {
    color: #8b4513;
    font-size: 18px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: end;
}

#play{
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    background-color: #ffe2a9;
    animation: pulse 1s infinite;
}

.title-rules{
    width: 50px;
}

.buttons{
    display: flex;
    gap: 40px;
}
.close-window-rules{
    display: none;
}

.open-window-rules{
    display:flex;
}

@keyframes pulse {
  50% { 
    transform: scale(1.1); 
  }
}

@keyframes remove {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(0.8) rotate(10deg);
    }
    100% {
        opacity: 0;
        transform: scale(0) rotate(45deg);
    }
}
