.board{
    display: flex;
    flex-wrap: wrap;
    width: 800px;

}

.squares{
    background-color: #ffedcf;
    border: 1px solid black;
    width: 90px;
    height: 90px;
}

.playable{
    background-color: #874822 ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

img {
    width: 80px;
}

.selectedPiece{
  animation: pulse 2s infinite;
}

@keyframes pulse {
  50% { 
    transform: scale(1.1); 
  }
}


