.board{
    display: flex;
    flex-wrap: wrap;
    width: 800px;

}

.squares{
    background-color: #ffedcf;
    border: 1px solid black;
    width: 90px;
    height: 90px;
}

.playable{
    background-color: #874822 ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

img {
    width: 80px;
}

.movedOption{
    background-color: green;
}

.selectedPiece{
  animation: pulse 2s infinite;
}

.disableUnselectedPiece, .disableOpponentsPiece, .disableAllPieces {
    pointer-events: none !important;
    opacity: 0.8;
    
}
.capturedPiece {
    animation: remove 0.9s ease-out forwards;
}
#resetBtn{
    cursor: pointer;
}
@keyframes pulse {
  50% { 
    transform: scale(1.1); 
  }
}

@keyframes remove {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(0.8) rotate(10deg);
    }
    100% {
        opacity: 0;
        transform: scale(0) rotate(45deg);
    }
}
